<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale = 1.0">
    <!--Bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Custom CSS-->
    <link rel="stylesheet" href="style.css">
    <!--Openlayers cdn / importing library
    <script src="ol\ol.js"></script>    
    <link rel="stylesheet" href="ol\ol.css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css    ">-->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-app.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-storage.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-database.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-auth.js"></script>
    <!--font awesome cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <title> QUALISAT </title>

</head>
{% load crispy_forms_tags %}




{% block content %}

    <!--Navbar start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><i class="fab fa-quora "></i> QUALISAT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item" id="logoutBtn" style="display: none;">
              <a class="nav-link" onclick="firebase.auth().signOut()">LogOut</a>
            </li>
          </ul>
        </div>
      </nav>

    <!--Navbar end -->

{% if user.is_authenticated %}
      <p>Welcome, {{ user.get_username }}.</p>
      <form id="sign_in_form" method="post">
        {% csrf_token %}
        {{ form_logout | crispy }}
        <button type="submit" class="btn btn-primary" name="submit" value="logout">logout</button>
      </form>


  <div id="logged_in" style="display: none;">
    <div id="map" class="map"></div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary"><i class="fas fa-pencil-ruler"></i></button>
      <button type="button" class="btn btn-secondary"><i class="fas fa-object-group"></i></button>
      <button type="button" class="btn btn-secondary"><i class="far fa-save"></i></button>
      <button type="button" class="btn btn-secondary"><i class="fas fa-cloud-upload-alt"></i></button>
      <button type="button" class="btn btn-secondary"><i class="fas fa-text-height"></i></button>

    </div>
    <script type="text/javascript">


    </script>

  </div>
{% else %}
  <div id="not_logged_in">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Qualisat</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </div>

    {% if messages %}
    <ul class="messages">
      {% for msg in messages %}

          <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{ msg.message }}
          </div>
          
        {% endfor %}
    </ul>
    {% endif %}

  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12 ">
      <div class="form-card">
      <p> this is a sign in form </p>
      <div id="sign_in_alerts">
        
      </div>
      <form id="sign_in_form" method="post">
        {% csrf_token %}
        {{ form_sign_in | crispy }}
        <button type="submit" class="btn btn-primary" name="submit" value="sign_in">sign in</button>
      </form>
    </div>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-12 ">
      <div class="form-card">
      <p> this is a sign up form </p>
      <div id="sign_up_alerts">

      </div>
      
      <form id="sign_up_form" method="post">
        {% csrf_token %}
        {{ form_sign_up | crispy }}
        <button type="submit" class="btn btn-success" name="submit" value="sign_up">sign up</button>
      </form>
      
    </div>
    </div>
  </div>
  </div>
{% endif %}





<!--Bootstrap js cdn -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--FireBase Initiation-->
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyApA_BjiXguOCS_DowjVcE3aMdvixwSP8A",
    authDomain: "qualisat-e28a9.firebaseapp.com",
    projectId: "qualisat-e28a9",
    storageBucket: "qualisat-e28a9.appspot.com",
    messagingSenderId: "864332901418",
    appId: "1:864332901418:web:1d0e5f1f3937259b312753"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

<!--auth.js file-->
<script src="js\js\auth.js"></script>
<!--map.js file-->
<script src="js\js\map.js"></script>

{% endblock content %}
</html>